h1 {
  color:red;
}

p {
color:blue;
}

h2 {
    text-align: center;
}

body {
    background-image: url("https://78.media.tumblr.com/c5c76a1a5190ef816f0e70df093d85b9/tumblr_o1hdglpAXV1spnyg9o1_400.gif");
}

